In [2]:
import random
from typing import List

import cv2
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df: pd.DataFrame = pd.read_csv('Annotasion.csv', usecols = ['The Absolute Way', 'Class name']) 
print(df)

                        The Absolute Way Class name
0     C:\pp var 4\dataset\tulip\0000.jpg      tulip
1      C:\pp var 4\dataset\rose\0000.jpg       rose
2     C:\pp var 4\dataset\tulip\0001.jpg      tulip
3      C:\pp var 4\dataset\rose\0001.jpg       rose
4     C:\pp var 4\dataset\tulip\0002.jpg      tulip
...                                  ...        ...
1995   C:\pp var 4\dataset\rose\0997.jpg       rose
1996  C:\pp var 4\dataset\tulip\0998.jpg      tulip
1997   C:\pp var 4\dataset\rose\0998.jpg       rose
1998  C:\pp var 4\dataset\tulip\0999.jpg      tulip
1999   C:\pp var 4\dataset\rose\0999.jpg       rose

[2000 rows x 2 columns]

In [4]:
df: pd.DataFrame = df.rename(columns={'The Absolute Way': 'absPath',
               'Class name': 'className'})
print(df)

                                 absPath className
0     C:\pp var 4\dataset\tulip\0000.jpg     tulip
1      C:\pp var 4\dataset\rose\0000.jpg      rose
2     C:\pp var 4\dataset\tulip\0001.jpg     tulip
3      C:\pp var 4\dataset\rose\0001.jpg      rose
4     C:\pp var 4\dataset\tulip\0002.jpg     tulip
...                                  ...       ...
1995   C:\pp var 4\dataset\rose\0997.jpg      rose
1996  C:\pp var 4\dataset\tulip\0998.jpg     tulip
1997   C:\pp var 4\dataset\rose\0998.jpg      rose
1998  C:\pp var 4\dataset\tulip\0999.jpg     tulip
1999   C:\pp var 4\dataset\rose\0999.jpg      rose

[2000 rows x 2 columns]

In [5]:
df["marks"] = 0
df.loc[df["className"] == "rose", "marks"] = 1
print(df)

                                 absPath className  marks
0     C:\pp var 4\dataset\tulip\0000.jpg     tulip      0
1      C:\pp var 4\dataset\rose\0000.jpg      rose      1
2     C:\pp var 4\dataset\tulip\0001.jpg     tulip      0
3      C:\pp var 4\dataset\rose\0001.jpg      rose      1
4     C:\pp var 4\dataset\tulip\0002.jpg     tulip      0
...                                  ...       ...    ...
1995   C:\pp var 4\dataset\rose\0997.jpg      rose      1
1996  C:\pp var 4\dataset\tulip\0998.jpg     tulip      0
1997   C:\pp var 4\dataset\rose\0998.jpg      rose      1
1998  C:\pp var 4\dataset\tulip\0999.jpg     tulip      0
1999   C:\pp var 4\dataset\rose\0999.jpg      rose      1

[2000 rows x 3 columns]

In [ ]:
heightimg: List[int] = []
widthimg: List[int] = []
depthimg: List[int] = []

for i in range(df["absPath"].size):
    img = cv2.imread(df["absPath"].iloc[i])
    if img is not None:
        heightimg.append(img.shape[0])
        widthimg.append(img.shape[1])
        depthimg.append(img.shape[2])
    else:
        heightimg.append(0)
        widthimg.append(0)
        depthimg.append(0)
df["height"] = heightimg
df["width"] = widthimg
df["depth"] = depthimg
print(df)

In [ ]:
marks_stats = df['marks'].describe() 
height_stats = df['height'].describe() 
width_stats = df['width'].describe() 
depth_stats = df['depth'].describe() 
print("\nstatistical information for marks\n", marks_stats)
print("\nstatistical information for height\n", height_stats)
print("\nstatistical information for width\n", width_stats)
print("\nstatistical information for depth\n", depth_stats)

In [11]:
def filter_df(df: pd.DataFrame, mark: int) -> pd.DataFrame:
    df: pd.DataFrame = df[df.marks == mark]
    return df

print(filter_df(df, 1))

                                absPath className  marks  height  width  depth
1     C:\pp var 4\dataset\rose\0000.jpg      rose      1    1600   2400      3
3     C:\pp var 4\dataset\rose\0001.jpg      rose      1    1125   1500      3
5     C:\pp var 4\dataset\rose\0002.jpg      rose      1    1200   1920      3
7     C:\pp var 4\dataset\rose\0003.jpg      rose      1     764   1143      3
9     C:\pp var 4\dataset\rose\0004.jpg      rose      1    2250   3000      3
...                                 ...       ...    ...     ...    ...    ...
1991  C:\pp var 4\dataset\rose\0995.jpg      rose      1     800    480      3
1993  C:\pp var 4\dataset\rose\0996.jpg      rose      1    1002    564      3
1995  C:\pp var 4\dataset\rose\0997.jpg      rose      1     561    564      3
1997  C:\pp var 4\dataset\rose\0998.jpg      rose      1     657    526      3
1999  C:\pp var 4\dataset\rose\0999.jpg      rose      1     752    564      3

[1000 rows x 6 columns]