In [2]:
import random
from typing import List

import cv2
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df: pd.DataFrame = pd.read_csv('Annotasion.csv', usecols = ['The Absolute Way', 'Class name']) 
print(df)

                        The Absolute Way Class name
0     C:\pp var 4\dataset\tulip\0000.jpg      tulip
1      C:\pp var 4\dataset\rose\0000.jpg       rose
2     C:\pp var 4\dataset\tulip\0001.jpg      tulip
3      C:\pp var 4\dataset\rose\0001.jpg       rose
4     C:\pp var 4\dataset\tulip\0002.jpg      tulip
...                                  ...        ...
1995   C:\pp var 4\dataset\rose\0997.jpg       rose
1996  C:\pp var 4\dataset\tulip\0998.jpg      tulip
1997   C:\pp var 4\dataset\rose\0998.jpg       rose
1998  C:\pp var 4\dataset\tulip\0999.jpg      tulip
1999   C:\pp var 4\dataset\rose\0999.jpg       rose

[2000 rows x 2 columns]

In [4]:
df: pd.DataFrame = df.rename(columns={'The Absolute Way': 'absPath',
               'Class name': 'className'})
print(df)

                                 absPath className
0     C:\pp var 4\dataset\tulip\0000.jpg     tulip
1      C:\pp var 4\dataset\rose\0000.jpg      rose
2     C:\pp var 4\dataset\tulip\0001.jpg     tulip
3      C:\pp var 4\dataset\rose\0001.jpg      rose
4     C:\pp var 4\dataset\tulip\0002.jpg     tulip
...                                  ...       ...
1995   C:\pp var 4\dataset\rose\0997.jpg      rose
1996  C:\pp var 4\dataset\tulip\0998.jpg     tulip
1997   C:\pp var 4\dataset\rose\0998.jpg      rose
1998  C:\pp var 4\dataset\tulip\0999.jpg     tulip
1999   C:\pp var 4\dataset\rose\0999.jpg      rose

[2000 rows x 2 columns]

In [5]:
df["marks"] = 0
df.loc[df["className"] == "rose", "marks"] = 1
print(df)

                                 absPath className  marks
0     C:\pp var 4\dataset\tulip\0000.jpg     tulip      0
1      C:\pp var 4\dataset\rose\0000.jpg      rose      1
2     C:\pp var 4\dataset\tulip\0001.jpg     tulip      0
3      C:\pp var 4\dataset\rose\0001.jpg      rose      1
4     C:\pp var 4\dataset\tulip\0002.jpg     tulip      0
...                                  ...       ...    ...
1995   C:\pp var 4\dataset\rose\0997.jpg      rose      1
1996  C:\pp var 4\dataset\tulip\0998.jpg     tulip      0
1997   C:\pp var 4\dataset\rose\0998.jpg      rose      1
1998  C:\pp var 4\dataset\tulip\0999.jpg     tulip      0
1999   C:\pp var 4\dataset\rose\0999.jpg      rose      1

[2000 rows x 3 columns]

In [17]:
heightimg: List[int] = []
widthimg: List[int] = []
depthimg: List[int] = []

for i in range(df["absPath"].size):
    img = cv2.imread(df["absPath"].iloc[i])
    if img is not None:
        heightimg.append(img.shape[0])
        widthimg.append(img.shape[1])
        depthimg.append(img.shape[2])
    else:
        print(df["absPath"].iloc[i])
        #heightimg.append(0)
        #widthimg.append(0)
        #depthimg.append(0)
df["height"] = heightimg
df["width"] = widthimg
df["depth"] = depthimg
print(df)

                                 absPath className  marks  height  width  \
0     C:\pp var 4\dataset\tulip\0000.jpg     tulip      0    2146   3000
1      C:\pp var 4\dataset\rose\0000.jpg      rose      1    1600   2400
2     C:\pp var 4\dataset\tulip\0001.jpg     tulip      0    2000   3000
3      C:\pp var 4\dataset\rose\0001.jpg      rose      1    1125   1500
4     C:\pp var 4\dataset\tulip\0002.jpg     tulip      0    1346   2083
...                                  ...       ...    ...     ...    ...
1995   C:\pp var 4\dataset\rose\0997.jpg      rose      1     561    564
1996  C:\pp var 4\dataset\tulip\0998.jpg     tulip      0    2000   3000
1997   C:\pp var 4\dataset\rose\0998.jpg      rose      1     657    526
1998  C:\pp var 4\dataset\tulip\0999.jpg     tulip      0     750    563
1999   C:\pp var 4\dataset\rose\0999.jpg      rose      1     752    564

      depth    pixel
0         3  6438000
1         3  3840000
2         3  6000000
3         3  1687500
4         3  2803718
...     ...      ...
1995      3   316404
1996      3  6000000
1997      3   345582
1998      3   422250
1999      3   424128

[2000 rows x 7 columns]

In [18]:
marks_stats = df['marks'].describe() 
height_stats = df['height'].describe() 
width_stats = df['width'].describe() 
depth_stats = df['depth'].describe() 
print("\nstatistical information for marks\n", marks_stats)
print("\nstatistical information for height\n", height_stats)
print("\nstatistical information for width\n", width_stats)
print("\nstatistical information for depth\n", depth_stats)

statistical information for marks
 count    2000.000000
mean        0.500000
std         0.500125
min         0.000000
25%         0.000000
50%         0.500000
75%         1.000000
max         1.000000
Name: marks, dtype: float64

statistical information for height
 count    2000.000000
mean     1449.197000
std       622.159315
min       164.000000
25%      1080.000000
50%      1278.000000
75%      1838.500000
max      7498.000000
Name: height, dtype: float64

statistical information for width
 count    2000.000000
mean     1928.212500
std       833.591089
min       186.000000
25%      1280.000000
50%      1920.000000
75%      2560.000000
max      8000.000000
Name: width, dtype: float64

statistical information for depth
 count    2000.0
mean        3.0
std         0.0
min         3.0
25%         3.0
50%         3.0
75%         3.0
max         3.0
Name: depth, dtype: float64

In [19]:
def filter_df(df: pd.DataFrame, mark: int) -> pd.DataFrame:
    df: pd.DataFrame = df[df.marks == mark]
    return df

print(filter_df(df, 1))

                                absPath className  marks  height  width  \
1     C:\pp var 4\dataset\rose\0000.jpg      rose      1    1600   2400
3     C:\pp var 4\dataset\rose\0001.jpg      rose      1    1125   1500
5     C:\pp var 4\dataset\rose\0002.jpg      rose      1    1200   1920
7     C:\pp var 4\dataset\rose\0003.jpg      rose      1     764   1143
9     C:\pp var 4\dataset\rose\0004.jpg      rose      1    2250   3000
...                                 ...       ...    ...     ...    ...
1991  C:\pp var 4\dataset\rose\0995.jpg      rose      1     800    480
1993  C:\pp var 4\dataset\rose\0996.jpg      rose      1    1002    564
1995  C:\pp var 4\dataset\rose\0997.jpg      rose      1     561    564
1997  C:\pp var 4\dataset\rose\0998.jpg      rose      1     657    526
1999  C:\pp var 4\dataset\rose\0999.jpg      rose      1     752    564

      depth    pixel
1         3  3840000
3         3  1687500
5         3  2304000
7         3   873252
9         3  6750000
...     ...      ...
1991      3   384000
1993      3   565128
1995      3   316404
1997      3   345582
1999      3   424128

[1000 rows x 7 columns]

In [20]:
def filter_df2(mark: int, max_width: int, max_height: int, df: pd.DataFrame) -> pd.DataFrame:
    df: pd.DataFrame = df[df.marks == mark][df.width <= max_width][df.height <= max_height]
    return df

print(filter_df2(1, 1500, 1500, df))

                                absPath className  marks  height  width  \
3     C:\pp var 4\dataset\rose\0001.jpg      rose      1    1125   1500
7     C:\pp var 4\dataset\rose\0003.jpg      rose      1     764   1143
31    C:\pp var 4\dataset\rose\0015.jpg      rose      1     795   1200
51    C:\pp var 4\dataset\rose\0025.jpg      rose      1     799   1200
63    C:\pp var 4\dataset\rose\0031.jpg      rose      1    1024   1280
...                                 ...       ...    ...     ...    ...
1991  C:\pp var 4\dataset\rose\0995.jpg      rose      1     800    480
1993  C:\pp var 4\dataset\rose\0996.jpg      rose      1    1002    564
1995  C:\pp var 4\dataset\rose\0997.jpg      rose      1     561    564
1997  C:\pp var 4\dataset\rose\0998.jpg      rose      1     657    526
1999  C:\pp var 4\dataset\rose\0999.jpg      rose      1     752    564

      depth    pixel
3         3  1687500
7         3   873252
31        3   954000
51        3   958800
63        3  1310720
...     ...      ...
1991      3   384000
1993      3   565128
1995      3   316404
1997      3   345582
1999      3   424128

[348 rows x 7 columns]

C:\Users\toral\AppData\Local\Temp\ipykernel_27020\712985004.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df: pd.DataFrame = df[df.marks == mark][df.width <= max_width][df.height <= max_height]
C:\Users\toral\AppData\Local\Temp\ipykernel_27020\712985004.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df: pd.DataFrame = df[df.marks == mark][df.width <= max_width][df.height <= max_height]

In [21]:
print(df)
df["pixel"] = df.height * df.width
result: pd.DataFrame = df.groupby("marks").agg({"pixel": ['mean', 'min', 'max']}) 
print(result)

                                 absPath className  marks  height  width  \
0     C:\pp var 4\dataset\tulip\0000.jpg     tulip      0    2146   3000
1      C:\pp var 4\dataset\rose\0000.jpg      rose      1    1600   2400
2     C:\pp var 4\dataset\tulip\0001.jpg     tulip      0    2000   3000
3      C:\pp var 4\dataset\rose\0001.jpg      rose      1    1125   1500
4     C:\pp var 4\dataset\tulip\0002.jpg     tulip      0    1346   2083
...                                  ...       ...    ...     ...    ...
1995   C:\pp var 4\dataset\rose\0997.jpg      rose      1     561    564
1996  C:\pp var 4\dataset\tulip\0998.jpg     tulip      0    2000   3000
1997   C:\pp var 4\dataset\rose\0998.jpg      rose      1     657    526
1998  C:\pp var 4\dataset\tulip\0999.jpg     tulip      0     750    563
1999   C:\pp var 4\dataset\rose\0999.jpg      rose      1     752    564

      depth    pixel
0         3  6438000
1         3  3840000
2         3  6000000
3         3  1687500
4         3  2803718
...     ...      ...
1995      3   316404
1996      3  6000000
1997      3   345582
1998      3   422250
1999      3   424128

[2000 rows x 7 columns]
             pixel
              mean    min       max
marks
0      3365541.405  78720  31935103
1      3022349.737  59520  59984000